In [1]:
rows = int (input("Enter Number of Rows for your Diamond Pattern = "))

Enter Number of Rows for your Diamond Pattern = 6

In [2]:
special_char = input("Enter special character do you want to make diamond pattern = ")

Enter special character do you want to make diamond pattern = *

In [13]:
for i in range(1, rows+1):
    for j in range (1, rows - i +1):
        print(end = ' ')
    for k in range(0, 2* i -1):
        print(special_char, end = '')
    print()

     *
    ***
   *****
  *******
 *********
***********

In [14]:
def upper_triangle(r,s):
    for i in range(1, r+1):
        for j in range (1, r - i +1):
            print(end = ' ')
        for k in range(0, 2* i -1):
            print(s, end = '')
        print()

In [16]:
for x in range(1,rows):
    for y in range(1, x+1):
        print(end = ' ')
    for z in range(1, (2 * (rows - x))):
        print(special_char, end = '')
    print()

 *********
  *******
   *****
    ***
     *

In [17]:
def lower_triangle(r,s):
    for x in range(1,r):
        for y in range(1, x+1):
            print(end = ' ')
        for z in range(1, (2 * (r - x))):
            print(s, end = '')
        print()

In [18]:
print("Pattern Rows = ", rows);
print("Diamond ",special_char," Pattern");

upper_triangle(rows, special_char)
lower_triangle(rows, special_char)

Pattern Rows =  6
Diamond  *  Pattern
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

#Upper Triangle

In [30]:
rows = 6
for i in range(1, rows+1):
    for j in range (0, rows-i):
            print(end = ' ')
    for k in range(0, i * 2 -1):
            print("*", end = '');
    print();

     *
    ***
   *****
  *******
 *********
***********

In [31]:
rows = 5
for i in range(1, rows+1):
    for j in range (0, rows-i):
            print(end = ' ')
    for k in range(0, i * 2 -1):
            print("*", end = '');
    print();

    *
   ***
  *****
 *******
*********

In [32]:
rows = 4
for i in range(1, rows+1):
    for j in range (0, rows-i):
            print(end = ' ')
    for k in range(0, i * 2 -1):
            print("*", end = '');
    print();

   *
  ***
 *****
*******

In [33]:
rows = 3
for i in range(1, rows+1):
    for j in range (0, rows-i):
            print(end = ' ')
    for k in range(0, i * 2 -1):
            print("*", end = '');
    print();

  *
 ***
*****

In [34]:
rows = 2
for i in range(1, rows+1):
    for j in range (0, rows-i):
            print(end = ' ')
    for k in range(0, i * 2 -1):
            print("*", end = '');
    print();

 *
***

In [35]:
rows = 1
for i in range(1, rows+1):
    for j in range (0, rows-i):
            print(end = ' ')
    for k in range(0, i * 2 -1):
            print("*", end = '');
    print();

*

In [37]:
rows = 7
for i in range(1, rows+1):
    for j in range (0, rows-i):
            print(end = ' ');
    for k in range(0, i * 2 -1):
            print("*", end = '');
    print();

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [53]:
rows = 7
for i in range(1, rows+1):
    for j in range(0, rows-i):
            print(end = ' '); 
#             Passing the whitespace to the end parameter (end=‘ ‘) indicates that the end character has to be identified by whitespace and not a newline.
    for k in range(0, i * 2 -1):
            print("*",end = '');
    print('');

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [42]:
print("*", end = '');

*

#Lower Triangle

In [65]:
rows = 6

for i in range(0,rows):
    for j in range(0,i):
        print(end = ' '); 
    for k in range(2, (rows*2)-(i*2-1)):
         print("*",end = '');
    print('');

***********
 *********
  *******
   *****
    ***
     *

In [66]:
rows = 5

for i in range(0,rows):
    for j in range(0,i):
        print(end = ' '); 
    for k in range(2, (rows*2)-(i*2-1)):
         print("*",end = '');
    print('');

*********
 *******
  *****
   ***
    *

In [68]:
rows = 4

for i in range(0,rows):
    for j in range(0,i):
        print(end = ' '); 
    for k in range(2, (rows*2)-(i*2-1)):
         print("*",end = '');
    print('');

*******
 *****
  ***
   *

In [69]:
rows = 3

for i in range(0,rows):
    for j in range(0,i):
        print(end = ' '); 
    for k in range(2, (rows*2)-(i*2-1)):
         print("*",end = '');
    print('');

*****
 ***
  *

In [70]:
rows = 2

for i in range(0,rows):
    for j in range(0,i):
        print(end = ' '); 
    for k in range(2, (rows*2)-(i*2-1)):
         print("*",end = '');
    print('');

***
 *

In [71]:
rows = 1

for i in range(0,rows):
    for j in range(0,i):
        print(end = ' '); 
    for k in range(2, (rows*2)-(i*2-1)):
         print("*",end = '');
    print('');

*

#Combine two triangles

In [74]:
rows = 6
print("Pattern Rows = ", rows);
print("Diamond ",special_char," Pattern");
print('\n');
for i in range(1, rows+1):
    for j in range (0, rows-i):
            print(end = ' ')
    for k in range(0, i * 2 -1):
            print("*", end = '');
    print();

for i in range(0,rows):
    for j in range(0,i):
        print(end = ' '); 
    for k in range(2, (rows*2)-(i*2-1)):
         print("*",end = '');
    print('');

Pattern Rows =  6
Diamond  *  Pattern
     *
    ***
   *****
  *******
 *********
***********
***********
 *********
  *******
   *****
    ***
     *